/*BlinkdestIndex Styles*/
.main-container {
    margin-bottom: 4em;
}

.main-heading {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.main-heading-small {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

.table-heading {
    font-size: 2em;
    font-weight: bold;
}

.table-heading-small {
    font-size: 1em;
    font-weight: bold;
}

.filter-search {
    display: inline-block;
}

.search-container {
    display: flex;
    justify-content: flex-end;
}

.talk-row {
    background-color: whitesmoke;
    padding: 2em;
    border-bottom: 1px solid darkslategrey;
    border-left: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
}

.talk-row:hover {
    background-color: lightgrey;
}

.data-row {
    cursor: pointer;
}

.disable-link-style:hover {
    text-decoration: none;
}

.talk-header-row-small {
    background-color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid darkslategrey;
    border-left: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
}

.top-small-row {
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 1.25em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    border-left: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
}

.bottom-small-row {
    background-color: whitesmoke;
    padding-bottom: 1em;
    border-bottom: 1px solid darkslategrey;
    padding-left: 2.5em;
    border-left: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
}

.header-row {
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    background-color: lightgrey;
}

.table-header-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    background: none;
    padding: 0;
    border: none;
    box-shadow: none;

}

.table-header-title:focus {
    border: none;
    box-shadow: none;
}

.table-header-title:hover {
    color: white;
    text-decoration: none;
}

.table-header-title-small {
    font-weight: bold;
    font-size: 0.75em;
    color: black;
    background: none;
    padding: 0;
    border: none;
    box-shadow: none;
}

.table-header-title-small:focus {
    border: none;
    box-shadow: none;
}

.table-header-title-small:hover {
    color: white;
    text-decoration: none;
}

.selected-column {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-text {
    font-size: 1.5em;
    color: yellow;
}

.smartphone-text {
    font-size: 0.75em;
}

.spinner-large {
    font-size: 12em;
}

.sort-icon {
    font-size: 1em;
    padding-left: 0.25em;
    padding-top: 0.30em;
}

.pagination-center {
    margin: auto;
}

/*TalkDetail Styles*/
.detail-main-container {
    max-width: 100vw;
}

.thumbnail-main {
    margin-bottom: 3em;
}

.thumbnail {
    max-width: 90%;
}

.back-button {
    color: white;
}

.back-button:hover {
    color: black;
    text-decoration: none;
}

.back-to-list {
    margin-top: 1em;
}

.description {
    font-size: 1em;
}
